ul.pagination {
  padding-left: 0px;
  text-align: center;
  li {
    font-size: 1.2rem;
    list-style-type: none;
    display: inline;
    padding: 0.2rem;
    a {
      color: $theme-color;
    }
  }
  li.current {
    span {
      background: $theme-color;
      color: white;
      padding: 0.2rem;
    }
  }
}