
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Pages
@import "mypage";

$theme-color: #FFCA9E;
$key-color: #FFAF6C;
$main-background-color: #F2F2F2;
$gray-border-color: #979797;

body {
  margin: 0;
  padding: 0;
  background: $main-background-color;
}

header {
  border-top: 3px solid #FFAF6C;
  border-bottom: 5px solid #FFAF6C;
  background-color: #ffffff;

  .fa-bars:before {
    color: $key-color;
  }

  [v-cloak] {
    display: none;
  }

  #header-inner {
    padding: 5px 10px;
    position:relative;
    height: 60px;

    img#logo {
      position:absolute;
      height: 50px;
      top: 10px;
    }

    h1#service-title {
      position:absolute;
      color: #333;
      display: inline;
      vertical-align: middle;
      display: table-cell;
      font-size: 28px;
      font-weight: bold;
      padding-left: 10px;
      top: -5px;
      left:70px;
    }

    a#hamburger {
      position:absolute;
      right: 20px;
      top: 15px;
    }

  }

  #hamburger {
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
    box-sizing: border-box;
  }

  #hamburger div {
    position: absolute;
    left: 0;
    height: 4px;
    width: 24px;
    background-color: #444;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }

  #hamburger div:nth-of-type(1) {
    top: 0;
  }

  #hamburger div:nth-of-type(2) {
    top: 10px;
  }

  #hamburger div:nth-of-type(3) {
    bottom: 0;
  }
}


.common-dialog {
  background-color: $theme-color !important;
  width: 80%  !important;

  .el-icon-close:before {
    content: url('/images/close_btn.svg');
  }

  .el-dialog__body {
    padding-left: 0;
    padding-right: 0;
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li a {
      display:block;
      color: white;
      font-size: 1.3em;
      padding: 0.4em 1em;
      border-bottom: solid 1px;
      text-decoration: none;
    }
  }
  .dialog-content {
    padding-top: 2.5em;
    textarea {
      width: 80%;
      height: 25em;
      margin-bottom: 2em;
    }
  }
}

main {
  padding: 20px 0;
  .content {
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-color: $theme-color;
    padding: 0 10px 20px 10px;
    margin: 0 30px;

    .theme-wrapper {
      .theme {
        padding: 10px;
        .theme-header {
          padding: 0.2em 0;
          display: table;
          width: 100%;
          .title {
            font-weight: bold;
            display: table-cell;
          }
          .user {
            display: table-cell;
            text-align: right;
            img {
              width: 20px;
              border-radius: 20px;
            }
            .my-theme {
              color: $key-color;
            }
          }
        }
        .theme-content {
          border: 1px solid;
          border-color: $gray-border-color;
          padding: 0 10px;
          padding: 1em;
        }
        .theme-footer {
          display: table;
          width: 100%;
          padding-top: 0.5em;
          .answer-count {
            display: table-cell;
          }
          .date {
            display: table-cell;
            text-align: right;
          }
        }
      }
      .theme-answer-separator {
        margin-bottom: 1em;
      }
      .theme-separator {
        background-color: $theme-color;
        border: none;
        height: 0.1em;
        margin-top: 2em;
      }
    }

    .answers {
      .no-answer {
        background: $theme-color;
        color: #ffffff;
        padding: 0.5em;
        border-radius: 5px;
        .text-area {
          padding: 0.2 0.5em;
        }
        .btn-area {
          text-align: center;
          padding: 1em 0 0.5em 0;
        }
      }
    }
  }
}

button.primary {
  background: $theme-color;
  color: white;
  //font-size: 1em;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 5px;
}
button.primary.inverted {
  background: white;
  color: $theme-color;
}